# Dependencies
node_modules
npm-debug.log

# Next.js
.next
out
dist

# Environment files
.env.local
.env.development.local
.env.test.local
.env.production.local

# Testing
coverage

# Misc
.DS_Store
.vscode
.idea
*.log
*.swp

# Git
.git
.gitignore

# Documentation
README.md
docs/

# CI/CD
.github/
